<!DOCTYPE html>
<html>
<head>
  <title>Find the Restaurant</title>
</head>

<body>
  <h1 id="welcome">Welcome <%= username %>!</h1>
  <script type="text/javascript">
    window.onload = function() {
      console.log("Button was pressed");
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(GetLocation);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }
    function GetLocation(location) {
      console.log("Getting location");
      alert("Latitude: " + location.coords.latitude + " and Longitude: " + location.coords.longitude);
    }
  </script>
</body>
</html>
