<!DOCTYPE html>
<html>
<head>
  <title>Find the Restaurant</title>
</head>

<body>
  <script type="text/javascript">
    var locator = function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrenPosition(GetLocation);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }
    function GetLocation(location) {
      alert("Latitude: " + location.coords.latitude + " and Longitude: " + location.coords.longitude);
    }
  </script>
  <h1 id="welcome">Welcome <%= username %>!</h1>
  <button value="Get My Location" onclick="locator" />
</body>
