<!DOCTYPE html>
<html>
<head>
  <title>Find the Restaurant</title>
</head>

<body>
  <h1 id="welcome">Welcome <%= username %>!</h1>
  <script type="text/javascript">
    window.onload = function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(GetLocation);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }
    function GetLocation(location) {
      //alert("Latitude: " + location.coords.latitude + " and Longitude: " + location.coords.longitude);
      var url = document.URL;
      var params = "latitude=" + location.coords.latitude + "&longitude=" + location.coords.longitude;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);

      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send(params);
    }
  </script>
</body>
</html>
